@import "tailwindcss";

:root {
  --background: #0d0d0d;
  --altBackground: #212121;
  --foreground: #ffffff;
}

@media(prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --altBackground: #ebebeb;
    --foreground: #0d0d0d;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
